
/* StudentDetailsModal.css */
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-icon {
  font-size: 24px;
}

.loading-text {
  text-align: center;
  margin: 20px 0;
}


.wrap-text-cell {
  white-space: normal;
  word-break: break-word;
  max-width: 050px;
}


.button-group {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-top: 30px;
}

.button {
  background-color: #782424;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 50px; 
}

.button:hover {
  background-color: #5d1a1d;
}


.snackbar {
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}


.scrollable-table-container {
  max-height: 400px; 
  overflow-y: auto;
}
